.mainHeader {
    display: flex;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
    padding: 0 10rem 0 16rem;
    transition: 0.2s;
}
.mainHeader.white {
    background-color: var(--tertiary-color);
}
/* logo */
.headerLogoContainer {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.headerLogo {
    filter: brightness(100);
    height: 70%;
}
.headerName {
    font-family: "Rochester";
    color: #fff;
    font-size: 3rem;
    margin: 0 0 0 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
}

/* nav */
.headerNav {
    display: flex;
    align-items: center;
}
.headerNavLink {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: 200;
}
.headerNavUser {
    display: flex;
}
.headerNavUser {
    display: flex;
}
.headerUserSelect {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerNavCart .cart {
    width: 35px;
    margin: 0 1rem;
}
/* navUser */
.headerNavUser {
    display: flex;
    flex-direction: column;
    position: relative;
}
.headerUserSelect .user {
    width: 40px;
}
.headerUserSelect .arrow {
    width: 20px;
    transition: 0.1s;
}
.headerUserSelect .arrow.active {
    transform: rotate(-180deg);
}
.headerUserDropDown {
    position: absolute;
    width: 300%;
    height: 0;
    top: 4rem;
    right: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.572);
    transition: 0.1s;
    overflow: hidden;
    padding: 0;
}
.headerUserDropDown.active {
    padding: 1rem;
    height: auto;
}
.headerUserDropDown button {
    border: none;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
}
.headerUserDropDown button:hover {
    text-decoration: underline;
}
